html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* STYLING */

/* 
font-family: 'Roboto', sans-serif;
font-family: 'David Libre', serif; */

body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
}
header {
  overflow: hidden;
  padding: 10px 20px 10px 20px;
}

header h1 {
  float: left;
}
header nav {
  float: right;
  margin-top: 5px;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #54363a;
  margin-left: 12px;
}
header nav a:hover {
  border-bottom: 2px solid #54363a;
}

/* section {
  width: 100vw;
  margin: 0;
} */

section.hero {
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.hero div {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  padding: 150px 20px 150px 20px;
}

h2 {
  font-family: "David Libre";
}

section.hero h2 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}
section.hero p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}

section.flowers {
  overflow: hidden;
}

.flowers img {
  float: left;
  width: 33.33%;
}
section.testimonials {
  overflow: hidden;
  /* min-height: 200px; */
}

section.testimonials div {
  width: 50%;
  float: left;
  padding: 50px 0 40px 0;
  text-align: center;
}

.testimonials img {
  border-radius: 50%;
  width: 75px;
}
.testimonials h2 {
  font-weight: 700;
  max-width: 245px;
  margin: 0 auto 0 auto;
}
.testimonials p {
  font-size: 12px;
}

section.testimonials .liv {
  background-color: #f6f1ee;
}

section.chair img {
  width: 100%;
}

section.logos {
  background-color: #e5b0a2;
  padding: 40px 0 40px 0;
  color: white;
  text-align: center;
}

.logos img {
  padding-right: 30px;
  padding-top: 20px;
}

.logos img:last-child {
  padding-right: 0;
}

footer {
  overflow: hidden;

  background-color: #45363a;
  padding: 20px;
}

footer h1 {
  float: left;
}

footer p {
  float: right;
  color: white;
}

@media only screen and (max-device-width: 600px) {
  section.hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  section.flowers img {
    float: none;
    width: auto;
  }

  section.testimonials div {
    float: none;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .testimonials h2 {
    font-size: 20px;
  }
  .testimonials p {
    display: none;
  }
  section.logos img {
    display: block;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-device-width: 480px) {
  header h1,
  header nav {
    float: none;
  }

  nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  header nav a {
    margin-left: 0;
    margin-right: 12px;
  }
  section.hero h2 {
    font-size: 32px;
  }
}
